.header {
    background-color: rgb(121, 17, 219);
}
.title{
    color: white;
    margin: 0 0 0 20px;
    padding: 10px 0 0 0 ;
    font-weight: 700;
}
.container{
    display: flex;
}
.content {
    flex: 1;
    margin: 0 0 0 20px;
    font-weight: 300;
}
.content {
    color: white;
}
.image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-top: -100px;
}

.personal-info{
    margin-top: -20px;
    height: 40px;
    background-color: rgb(203, 168, 235);
}
.top-list{
    padding-top: 10px;
}
.list {
    display: inline;
    list-style: none;
    margin-right: 120px;
}
.list a{
    text-decoration: none; 
}
.section-title {
    color: blueviolet;
    text-decoration: underline;
}
.skill {
    background-color: rgb(53, 19, 85);
    border-radius: 10%;
    color: white;
    padding: 10px 10px 10px 10px;
}
.column {
    display: flex;
    justify-content:space-around;
}
.first-column {
    padding-left: 100px;
}
.second-column {
    padding-left: 300px;
}
@media (max-width:600px) {
    .section-title{
        background-color: rgb(223, 220, 245);
    } 
}
@media (max-width:700px) {
    body {
        background-color: rgb(236, 215, 255);
    }
}
